src/main/mule/dataweave-basics.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="dataweave-basicsFlow" doc:id="d56ba18f-3468-461d-90f7-12e09caf75d8" >
		<ee:transform doc:name="Transform Json Array" doc:id="55bb2b3c-dec9-40e1-b64a-85d038c07e2f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	sources : payload.*source,
	singlePayload : payload[0],
	multiPayload : payload[0 to 1],
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-basicsFlow1" doc:id="0710254d-0eb5-4c7e-9981-1b8395012d65" >
		<ee:transform doc:name="Transform XML" doc:id="df625e4b-5c11-4282-a915-e182006e4f1f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
now() as String {format : "MM"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
